
<div class="example-button-row" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="accent" routerLink="/createEvent"><mat-icon>add</mat-icon>Create New</button>
 </div>
 

 
 <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
     <!--- Note that these columns can be defined in any order.
           The actual rendered columns are set as a property on the row definition" -->
   
     <!-- Position Column -->
     <ng-container matColumnDef="id">
       <th mat-header-cell *matHeaderCellDef> ID </th>
       <td mat-cell *matCellDef="let element"> {{element.id}} </td>
     </ng-container>
   
  <!-- Weight Column -->
  <ng-container matColumnDef="title">
     <th mat-header-cell *matHeaderCellDef> title </th>
     <td mat-cell *matCellDef="let element"> {{element.title}} </td>
   </ng-container>
 

   <ng-container matColumnDef="lieu">
    <th mat-header-cell *matHeaderCellDef> lieu </th>
    <td mat-cell *matCellDef="let element"> {{element.lieu}} </td>
  </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="dateDebut">
       <th mat-header-cell *matHeaderCellDef> dateDebut </th>
       <td mat-cell *matCellDef="let element">  {{element.dateDebut | date:'h:mm a z'}} </td>
     </ng-container>
   
    
   
     <!-- Symbol Column -->
     <ng-container matColumnDef="dateFin">
       <th mat-header-cell *matHeaderCellDef> dateFin </th>
       <td mat-cell *matCellDef="let element"> {{element.dateFin | date:'h:mm a z'}}</td>
     </ng-container>
   
  
 
 
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 
     <!-- Row shown when there is no matching data. -->
   
 
   </table>
   
   