
<div fxLayout="row" fxLayoutAlign="space-around center" >


<mat-card>
    <mat-card-header>
      <mat-card-title>Members</mat-card-title>
      <mat-card-subtitle>{{nb_Members}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Article</mat-card-title>
      <mat-card-subtitle>{{nb_Article}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tools</mat-card-title>
      <mat-card-subtitle>{{nb_Tools}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Events</mat-card-title>
      <mat-card-subtitle>{{nb_Events}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <br>
</div>


<div class="container">
  <div class="card card-1">
      <h2>Nombre de publications par type</h2>
      <canvas id="pubtypechart" ></canvas>
  </div>
  <div class="card card-2">
      <h2>Enseignants par grade</h2>
    <canvas id="enseignatschart" ></canvas>
  
  </div>
  <div class="card card-3">
      <h2>Nombre de publications par Enseignant </h2>
      <canvas id="dochart"></canvas>
  </div>
  <div class="card card-4">
      <h2>Nombre de publications par Etudiant</h2>
      <canvas id="pochart"></canvas>
  </div>
  <div class="card card-5">
      <h2>Nombres d'Etudiants et d'Enseigants</h2>
      <canvas id="etud_ens_chart"></canvas>
  </div>
  <!--div class="card card-6">
      <h2>Bubble Chart</h2>
      <canvas id="bubchart"></canvas>
 </div-->
  <div class="card card-6">
      <h2>Nombre de publications par année</h2>
      <canvas id="linchart"></canvas>
  </div>
</div>
<!--

<div class="charts "fxLayout="row" fxLayoutAlign="space-around center" >
<div class="chart-wrapper">
  <canvas baseChart
          [type]="'line'"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    >
  </canvas>
</div>

<div class="chart-wrapper">
  <canvas baseChart
          [type]="'pie'"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    >
  </canvas>
</div>
</div> -->