<div fxLayout="row" fxLayoutAlign="space-around center" >


<mat-card>
    <mat-card-header>
      <mat-card-title>Members</mat-card-title>
      <mat-card-subtitle>{{nb_Members}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Article</mat-card-title>
      <mat-card-subtitle>{{nb_Article}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tools</mat-card-title>
      <mat-card-subtitle>{{nb_Tools}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Events</mat-card-title>
      <mat-card-subtitle>{{nb_Events}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <br>
</div>

<div class="charts "fxLayout="row" fxLayoutAlign="space-around center" >
<div class="chart-wrapper">
  <canvas baseChart
          [type]="'line'"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    >
  </canvas>
</div>

<div class="chart-wrapper">
  <canvas baseChart
          [type]="'pie'"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    >
  </canvas>
</div>
</div>